body {

}
.App {
  /* text-align: center; */
}
.white-space-pre {
  white-space: pre-wrap;
}
.App .img-thumbnail {
  margin-right: 10px;
}
.video-details .title {
  /* border-bottom: 2px solid gray; */
}
.video-details .desc{
  padding-top: 20px;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App .youtube-iframe{
  margin-bottom: 25px;
} */
